.App {
  text-align: center;
  background-color: darkslategray;
  color: white;
  padding: 5% 0;
}

.Form {
  background-color: whitesmoke;
  color: black;
  width: 75%;
  margin: 5% auto;
  display: flex;
  justify-content: center;
  align-content: center;
}

.member-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}

.TeamMember {
  background: rgb(247, 235, 215);
  color: black;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  border: 2px solid yellowgreen;
  padding: 2%;
  width: 23%;
  margin-bottom: 2%;
}



