.App {
  text-align: center;
  background-color: darkslategray;
  color: white;
  padding: 5% 0;
}

.Form {
  background-color: whitesmoke;
  color: black;
  width: 75%;
  margin: 5% auto;
  display: flex;
  justify-content: center;
  align-content: center;
}

